# Virtual IP configuration file for UCARP
# The number (from 001 to 255) in the name of the file is the identifier

# In the simple scenario, you want a single virtual IP address from the _same_
# network to be taken over by one of the routers.
VIP_ADDRESS="<%= @ipaddr -%>"
SOURCE_ADDRESS="<%= @ipaddress %>"

# In more complex scenarios, check the "vip-common" file for values to override
# and how to add options.
PASSWORD="<%= @password -%>"

# Extra options.
OPTIONS="<% @options.each do |val| -%> <%= val %><% end -%>"
