[gammu]
Connection = at
Port = <%= @port %>

[smsd]
Service = FILES
<% if @pin -%>
PIN = <%= @pin %>
CheckSecurity = 1
<% else -%>
CheckSecurity = 0
<% end -%>
CheckBattery = 0
CheckSignal = 0
CommTimeout = 10
LogFile = syslog
<% if @receivecmd -%>
RunOnReceive = /usr/local/sbin/gammu-smsd-receive
<% end -%>

InboxFormat = unicode
InboxPath = /var/spool/smsd/
OutboxPath = /var/spool/smsd/
