<% if @operatingsystem == "OpenBSD" -%>
listen on lo0
<% else -%>
listen on lo
<% end -%>

table aliases db:<%= @aliases %>.db

<% if @mailrelay -%>
accept from local for any relay via <%= @mailrelay %><% if @maildomain %> as "@<%= @maildomain %>"<% end %>
<% else -%>
accept from local for local alias <aliases> deliver to mbox
accept from local for any relay<% if @maildomain %> as "@<%= @maildomain %>"<% end %>
<% end -%>
