#!/bin/sh

daemon="/usr/local/sbin/rsyslogd"
<% if @syslog_resolve_names == "true" -%>
daemon_flags="-c 4 -i /var/run/syslog.pid"
<% else -%>
daemon_flags="-x -c 4 -i /var/run/syslog.pid"
<% end -%>

. /etc/rc.d/rc.subr

rc_pre() {
	pkill -U _syslogd
	return 0
}

rc_cmd $1
